body {
    background-color:#F0F0F0; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.section {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    color: rgb(0, 0, 0); 
    font-size: 24px;
    margin-bottom: 20px;
}

.item {
    background-color: #1E90FF; 
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.item:hover {
    transform: translateY(-3px);
}

.item-name {
    color: #ffffff; /* Màu chữ item trắng xanh đậm */
    font-size: 18px;
    margin-bottom: 5px;
}

.item-description {
    color: #ffffff; /* Màu mô tả item trắng xanh đậm */
    font-size: 14px;
}